src/main/resources/friends/properties/friends.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<!-- Root element -->
	<xs:element name="friendList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="friend" type="friendType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Friend type definition -->
	<xs:complexType name="friendType">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string"/>
			<xs:element name="lastName" type="xs:string"/>
			<xs:element name="phoneNumber" type="phoneNumberType"/>
			<xs:element name="dateOfBirth" type="dateOfBirthType"/>
			<xs:element name="address" type="addressType"/>
			<xs:element name="email" type="emailType"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>

	<!-- Phone number type with pattern validation -->
	<xs:simpleType name="phoneNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="996\d{9}"/>
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Date of birth type - can be simple string or complex structure -->
	<xs:complexType name="dateOfBirthType" mixed="true">
		<xs:choice minOccurs="0">
			<xs:sequence>
				<xs:element name="day" type="dayType"/>
				<xs:element name="month" type="monthType"/>
				<xs:element name="year" type="yearType"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>

	<!-- Day type (1-31) -->
	<xs:simpleType name="dayType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="31"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Month type -->
	<xs:simpleType name="monthType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="January"/>
			<xs:enumeration value="February"/>
			<xs:enumeration value="March"/>
			<xs:enumeration value="April"/>
			<xs:enumeration value="May"/>
			<xs:enumeration value="June"/>
			<xs:enumeration value="July"/>
			<xs:enumeration value="August"/>
			<xs:enumeration value="September"/>
			<xs:enumeration value="October"/>
			<xs:enumeration value="November"/>
			<xs:enumeration value="December"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Year type (1900-2024) -->
	<xs:simpleType name="yearType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1900"/>
			<xs:maxInclusive value="2024"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Address type -->
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="street" type="xs:string"/>
			<xs:element name="building" type="xs:string"/>
			<xs:element name="apartment" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Email type with pattern validation -->
	<xs:simpleType name="emailType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
